body {
	background-color: gray;
}

h1 {
	font-family: Brush Script MT;
	font-size:  45px;
	color: orange;
	text-align: center;
	border:  10px solid #EC9706;
	background-color:  #8D4004;
	height:  60px;
	border-radius:  10px;
}

h2 {
	font-size:  30px;
	color: gold;
	text-align: left;
	margin-left: 20px;
}

hr {
	border: none;
	background-color: gold;
	height: 3px;
	width: 85%;
	margin: 20px auto;
}

pre {
	font-family: "Georgia", sans-serif;
	font-size: 16px;
	margin-left: 20px;
}

p {
	font-family:Georgia;
	font-size: 16px;
	line-height:2.0;
	text-indent: 30px;
	border: 2px solid orange;
	outline: #EC9706 solid 10px;
	margin: auto;  
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
a:link {
	color: #ED820E;
}

a:visited {
	color: #893101;
}

a:hover {
    color: #ED7117;
}

a:active {
    color: #FCAE1E;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #A9A9A9;
  display: flex;
  position: sticky;
  top: 0;
}

ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #626262;
}

img {
	border:  5px solid orange;
	border-radius: 25px;
	background: #EC9706;
	padding: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

li {
	margin-left: 20px;
}
.gallery{
	display: inline-block;
	padding: 5px;
	border: 5px solid orange;
	margin: 25px;
	background: #EC9706;
	width: 400px;
}

.gallery .description{
	padding: 10px;
	text-align: center;
}

.gallery:hover{
	border: 5px solid #8D4004;
	background: #ED7117;
}

.gallery img{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

button {
	background-color: #EC9706;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
.quizbutton {
	display: flex;
	justify-content: center;
	margin: 50px;
}

.radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  margin: 8px 0;
  gap: 10px;
  width: 200px;
}

.radio .custom {
  width: 20px;
  height: 20px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.radio input[type="radio"]:checked + .custom::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #EC9706;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.radiogroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

